<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DeckMaster -->
      <package
            uri="http://deckmaster.base"
            class="DeckMaster.DeckMasterPackage"
            genModel="model/DeckMaster.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="DeckMaster.evl"
            namespaceURI="http://deckmaster.base">
      </constraintsBinding>
   </extension>
      <extension

         point="org.eclipse.ui.ide.markerResolution">

      <Generic>

         class : org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator

markerType : org.eclipse.epsilon.eugenia.examples.filesystem.diagram.diagnostic

      </Generic>

      <Generic>

         class : org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator

markerType : org.eclipse.emf.ecore.diagnostic

      </Generic>

   </extension>

</plugin>
